<div class="navbar-container">

  <!-- Logo. -->
  <a class="pj-dealer__custom-logo" routerLink="/">
    <span class="pj-custom-logo__label pj-custom-logo__label--swap">
      <span class="pj-custom-logo__label--primary">P.J.&nbsp;</span>
      <span class="pj-custom-logo__label--secondary">Dealer</span>
    </span>
    <span class="pj-custom-logo__label pj-custom-logo__label--fix">
      <span class="pj-custom-logo__label--secondary">Quincallerie&nbsp;</span>
      <span class="pj-custom-logo__label--primary">Nationale</span>
    </span>
  </a>

  <div class="navbar-links">

    <!-- Home. -->
    <a class="navbar-link" routerLink="/">
      <i class="pi pi-home navbar-link__icon"></i>
      <div class="navbar-link__label">Home</div>
    </a>

    <!-- Sign in. -->
    <a class="navbar-link" routerLink="/sign-in">
      <i class="pi pi-user navbar-link__icon"></i>
      <div class="navbar-link__label">Sign in</div>
    </a>

  </div>

  <button class="btn-navbar-hamburger" (click)="openNavbar()">
    <span class="navbar-hamburger"></span>
  </button>

</div>
