<div class="footer-container">

  <div class="footer-copyright">
    <span>&copy;{{currentYear | date: 'yyyy'}}&nbsp;</span>

    <a class="pj-dealer__custom-logo" routerLink="/">
      <span class="pj-custom-logo__label pj-custom-logo__label--swap">
        <span class="pj-custom-logo__label--primary">P.J.&nbsp;</span>
        <span class="pj-custom-logo__label--secondary">Dealer</span>
      </span>
      <span class="pj-custom-logo__label pj-custom-logo__label--fix">
        <span class="pj-custom-logo__label--secondary">Quincallerie&nbsp;</span>
        <span class="pj-custom-logo__label--primary">Nationale</span>
      </span>
    </a>

  </div>

</div>
