// -- Fonts;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// -- PrimeNG.
@import "primeicons/primeicons.css";

// -- Application global variables.
@import './variables.scss';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.pj-focus-backdrop {
  background-color: transparent;
  backdrop-filter: blur(0px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: backdrop-filter $avg-transition-duration, background-color $avg-transition-duration;
}

body.pj-focus .pj-focus-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px);
  z-index: 100;
}

// #region Logo.

.pj-dealer__custom-logo {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.pj-custom-logo__label {
  font-family: Inter, sans-serif;
  font-weight: 600;
  transition: transform $avg-transition-duration, opacity $avg-transition-duration;
}

.pj-custom-logo__label--swap {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform-origin: center top;
}

.pj-custom-logo__label--fix {
  display: block;
  opacity: 0;
  transform-origin: center bottom;
  transform: rotate3d(1, 0, 0, 90deg);
}

.pj-custom-logo__label--primary {
  color: $primary-color;
}

.pj-custom-logo__label--secondary {
  color: $secondary-color;
}

.pj-dealer__custom-logo:hover .pj-custom-logo__label--swap {
  opacity: 0;
  transform: rotate3d(1, 0, 0, 90deg);
}

.pj-dealer__custom-logo:hover .pj-custom-logo__label--fix {
  opacity: 1;
  transform: rotate3d(1, 0, 0, 0deg);
}

// #endregion
