// -- Fonts;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// -- PrimeNG.
@import "primeicons/primeicons.css";

// -- Application global variables.
@import './variables.scss';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

app-sign-in {
  flex: 1 1 100%;
}

.primary-color {
  color: $primary-color;
}

.pj-p-rel {
  position: relative;
}

// #region PrimeNG.

.pj.p-component {
  font-family: Inter, sans-serif;
}

// #region Button.

.pj.p-button:focus {
  box-shadow: none;
}

.pj .p-button-label {
  font-weight: 400;
}

.pj--primary.p-button {
  background: $primary-color;
  border: 1px solid $primary-color;
}

.pj--primary.p-button:enabled:active {
  background: $primary-color-600;
  border-color: $primary-color-600;
}

.pj--primary.p-button:enabled:hover {
  background: $primary-color-600;
  border-color: $primary-color-600;
}

.pj--secondary.p-button {
  background: $secondary-color;
  border: 1px solid $secondary-color;
}

.pj--secondary.p-button:enabled:active {
  background: $secondary-color-600;
  border-color: $secondary-color-600;
}

.pj--secondary.p-button:enabled:hover {
  background: $secondary-color-600;
  border-color: $secondary-color-600;
}

// #endregion

// #region Checkbox.

p-checkbox.p-element + label {
  cursor: pointer;
  padding-left: 8px;
}

.pj.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: none;
}

.pj--primary.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $primary-color;
  background: $primary-color;
}

.pj--primary.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  border-color: $primary-color;
}

.pj--primary.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: $primary-color;
}

.pj--primary.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: $primary-color-600;
  background: $primary-color-600;
}

// #region endregion

// #region Input Text.

.pj.p-inputtext {
  border-width: 2px;
  color: $font-color;
}

.pj.p-inputtext:enabled:focus {
  box-shadow: none;
}

.pj--primary.p-inputtext:enabled:focus {
  border-color: $primary-color;
}

.pj--primary.p-inputtext:enabled:hover {
  border-color: $primary-color;
}

// #endregion

// endregion

// #region Backdrop.

.pj-focus-backdrop {
  background-color: transparent;
  backdrop-filter: blur(0px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: backdrop-filter $avg-transition-duration, background-color $avg-transition-duration;
}

body.pj-focus .pj-focus-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px);
  z-index: 100;
}

// #endregion

// #region Form.

.pj-form-v-flex {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

// #endregion

// #region Logo.

.pj-dealer__custom-logo {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.pj-custom-logo__label {
  font-family: Inter, sans-serif;
  font-weight: 600;
  transition: transform $avg-transition-duration, opacity $avg-transition-duration;
}

.pj-custom-logo__label--swap {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform-origin: center top;
}

.pj-custom-logo__label--fix {
  display: block;
  opacity: 0;
  transform-origin: center bottom;
  transform: rotate3d(1, 0, 0, 90deg);
}

.pj-custom-logo__label--primary {
  color: $primary-color;
}

.pj-custom-logo__label--secondary {
  color: $secondary-color;
}

.pj-dealer__custom-logo:hover .pj-custom-logo__label--swap {
  opacity: 0;
  transform: rotate3d(1, 0, 0, 90deg);
}

.pj-dealer__custom-logo:hover .pj-custom-logo__label--fix {
  opacity: 1;
  transform: rotate3d(1, 0, 0, 0deg);
}

// #endregion
