$primary-color: #ff6400;
$primary-color-600: #ff5500;

$secondary-color: #001585;
$secondary-color-600: #001275;

$avg-animation-duration: 500ms;
$avg-transition-duration: 300ms;
$font-color: #242424;

$navbar-height: 4.375rem; // 70px.
